@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neuton&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-section {
  margin: 158px auto auto 0;
  width: 428px;
  height: 547px;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 60px;
  overflow: hidden;
  border-radius: 25px;
}

/* Card Style */
.card {
  border-radius: 25px;
  background: #f3d3bc;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;

  color: #202020;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265df2;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 60px;
  }
  .swiper-navBtn {
    display: none;
  }
}

@media screen and (max-width: 428px) {
  body {
    margin: 0;
    background: #fef6e1;
  }

  /* Bottom Navbar */
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #3b3b3b;
    display: flex;
    overflow-x: auto;
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #eeeeee;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  .nav__link:hover {
    background-color: #eeeeee;
  }

  .nav__link--active {
    color: #009578;
  }

  .nav__icon {
    font-size: 18px;
  }

  .menu-bar {
    position: absolute;
    width: 43px;
    height: 40px;
    left: 17px;
    top: 25px;
  }
  .hamburger {
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
  }
  .nav-button {
    border: none;
    font-family: "Neuton";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    width: 110px;
    height: 40px;
    left: 300px;
    top: 25px;
    background: #53e27b;
    border-radius: 25px;
  }
  h1 {
    position: absolute;

    height: 53px;
    left: 42px;
    top: 104px;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;

    color: #2f2219;
  }

  /* Sidebar */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
